.container {
  background: url('https://images.nationalgeographic.org/image/upload/v1638892272/EducationHub/photos/hoh-river-valley.jpg');
  height: 414px;
  aspect-ratio: 16/9;
  overflow: hidden;
  position: relative;
  
}

#transform-image {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid transparent;

}
#transform-image:hover {
  border-color: red;
}